name: CI pipeline to staging/production environments

on:
  pull_request:
    branches:
      - staging
      - main

env:
  BACKEND_PORT: 3001
  FRONTEND_PORT: 3000

jobs:
  test:
    runs-on: ubuntu-latest
    name: Set up, test and build project
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install backend dependencies
        run: cd backend && npm ci

      - name: Run backend tests
        run: cd backend && npm test

      - name: Build backend project
        run: |
          cd backend
          echo "Run command to build backend project if present"
          npm run build --if-present

      - name: Install frontend dependencies
        run: cd frontend && npm ci

      - name: Run frontend tests
        run: cd frontend && npm test -- --watchAll=false --passWithNoTests

      - name: Build frontend project
        run: |
          cd frontend
          echo "Run command to build frontend project if present"
          npm run build --if-present
